#wpcontent {
    padding-left: 0px;
    background-color: #F7FAFC;
}

#simply-backitup-root #backup-now-progress-container {
	margin: 20px 0;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f7f7f7;
}

/* Success Button */
#simply-backitup-root .button.button-success {
	background-color: #46b450;
	border-color: #46b450;
	color: #ffffff;
}

#simply-backitup-root .button.button-success:hover,
#simply-backitup-root .button.button-success:focus,
#simply-backitup-root .button.button-success:active
{
	background-color: #3ca544;
	border-color: #3ca544;
    box-shadow: 0 0 0 1px #3ca544;
}

/* Error Button */
#simply-backitup-root .button.button-error {
	background-color: #d63638;
	border-color: #d63638;
	color: #ffffff;
}

#simply-backitup-root .button.button-error:hover,
#simply-backitup-root .button.button-error:focus,
#simply-backitup-root .button.button-error:active 
{
	background-color: #b82b2c;
	border-color: #b82b2c;
    box-shadow: 0 0 0 1px #b82b2c;
}
